[submodule "edi/edi"]
	path = edi/edi
	url = git@github.com:odoo-sh/edi.git
	branch = 12.0

[submodule "ftp/ftp"]
	path = ftp/ftp
	url = git@github.com:odoo-sh/ftp.git
	branch = 12.0

[submodule "themagnetgroup"]
	path = themagnetgroup
	url = git@github.com:odoo-sh/themagnetgroup.git
	branch = 12.0
